/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
    z-index: 1;

    /* Chrome and Opera */
    user-select: none;

    /* Safari */
    -webkit-user-select: none;

    /* Konqueror HTML */
    -khtml-user-select: none;

    /* Firefox */
    -moz-user-select: none;

    /* Internet Explorer/Edge */
    -ms-user-select: none;
}

::selection {
    color: #fff;
    background: #6f6;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
    height: 100%;
    background-position: center;
    background-size: cover;
}

#body * {
    font-family: "Comfortaa", sans-serif;
}

.headerText {
    font-family: "Comfortaa", sans-serif;
}

.bg-container {
    overflow: scroll;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    z-index: -1;
}

.bg-image {
    background: url("media/BG2.png") repeat;
    background-repeat: repeat;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    overflow: hidden;
    height: 3198px;
    width: 5961px;
    animation: slide 30s linear infinite;
}

header {
    font-family: "Comfortaa", sans-serif;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-weight: 600;
    margin: 0;
}

.outside-container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1140px;
}

.container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1140px;
}

.box {
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 15px;
    width: 350px;
    transition: 0.5s;
}

.box:hover {
    background-color: #cfc;
}

.box:hover p,
.box:hover img {
    color: #000;
}

.box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
}

.box-red::after {
    background-color: #fc0200;
}

.box-yellow::after {
    background-color: #fddc01;
}

.box-green::after {
    background-color: #17ad1b;
}

.box-blue::after {
    background-color: #0091fe;
}

.box-push {
    transform: translateY(50%);
}

.box h2 {
    font-family: "Comfortaa", sans-serif;
    margin: 0;
}

.box:hover h2.box-red {
    color: #fc0200;
}

.box:hover h2.box-yellow {
    color: #fddc01;
}

.box:hover h2.box-green {
    color: #17ad1b;
}

.box:hover h2.box-blue {
    color: #0091fe;
}

.box p {
    font-size: 14px;
    margin: 15px 0 10px;
}

.box img {
    display: block;
    margin-left: auto;
}

.box:hover img {
    transform: scale(1.1);
}

.big-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.small-footer {
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

@media(max-width:1139.2px) {
    .box-push {
        transform: translateY(0);
        transition: 0.3s;
    }
}

@media(max-width:773.6px) {
    body {
        overflow: scroll;
    }

    .outside-container {
        height: 100dvh;
        width: 100vw;
    }

    .box-push {
        transform: translateY(0);
        transition: 0.3s;
    }

    .big-footer {
        justify-content: center;
        text-align: center;
        align-items: center;
        display: none;
        width: 100%;
    }

    .small-footer {
        justify-content: center;
        text-align: center;
        align-items: center;
        display: flex;
        width: 100%;
    }
}

@keyframes slide {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-1987px, -1066px);
        /* Image width, image height */
    }
}