/* Import Google font - Chewy */
@import url("https://fonts.googleapis.com/css2?family=Chewy:wght@200;300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Chewy", sans-serif;

    /* Chrome and Opera */
    user-select: none;

    /* Safari */
    -webkit-user-select: none;

    /* Konqueror HTML */
    -khtml-user-select: none;

    /* Firefox */
    -moz-user-select: none;

    /* Internet Explorer/Edge */
    -ms-user-select: none;
}

::selection {
    color: #fff;
    background: #6f6;
}

a.other-links:link {
    color: #6f6;
}

a.other-links:visited {
    color: #66f;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
}

.bgimg {
    background-image: url('https://cdn.augystudios.com/media/misc/forestbridge-bg.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

h1 {
    text-align: center;
}

h4#link-title {
    font-family: "Chewy", sans-serif;
}

.sticker-div {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.links-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links-div a {
    width: 80%;
}

.w3-theme-l1:hover {
    background-color: rgb(161, 255, 161) !important;
}

.margin-top-2 {
    margin-top: 32px;
    color: #9ff;
}

@media (min-width: 576px) {
    .sticker-div {
        max-width: 540px;
    }
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: lime;
    color: black;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    height: 50px;
    width: 50px;
    align-content: center;
}

#backToTop:hover {
    background-color: white;
    color: lime;
}

form.pn-container,
table,
img.sticker-img,
a.w3-button {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.pronouns {
    font-family: "Comfortaa", sans-serif;
    font-size: 10px;
    font-weight: bold;
    background-color: black;
    border: none;
    color: white;
    padding: 1px 15px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    cursor: default;
    border-radius: 20px;
}

.pronouns:hover {
    background-color: lime;
    color: black;
}